.page-header
  %h2
    = link_to "Upload Faculties", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names
= form_for @faculty_uploader, :url => upload_faculties_path, :multipart => true, :html => { :class => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .panel.panel-info
    .panel-body
      %strong Columns Required: &nbsp;
      = "#{Faculty.columns_defined.join(",")}, email"
      %strong.pull-right
        = link_to "Download Template", faculty_upload_faculties_path(:format => :xlsx)
      %br
      %br
      .form-group
        .col-sm-3
          = f.file_field :file
        .col-sm-2
          = f.submit "Upload", :class => "btn btn-primary pull-right"
